<% include partials/header %>

<div class="row" style="padding: 20px">
		<div class="col s12" style="margin-top : 200px; font-size: 20px; text-align: center; color : red; font-weight : bolder; padding : 10px 20px">
			You have already casted your vote!
		</div>
</div>

<script>
    window.localStorage.setItem("loggedIn", "no");
</script>

<% include partials/header %>