<% include partials/header %>

<form action="/aadhar" method="POST">
    <div class="row" style="padding: 20px">
        <h1 style="color: white;" class="display-3">“Every election is determined by the people who show up.”</h1>
        <hr style="border-color: rgba(255, 255, 255, 0)">
        <hr style="border-color: rgba(255, 255, 255, 0)">
        <hr style="border-color: rgba(255, 255, 255, 0)">
        <hr style="border-color: rgba(255, 255, 255, 0)">
        <hr style="border-color: rgba(255, 255, 255, 0)">
        <div class="col s9">
            <input placeholder="Aadhaar Number" type="text" name="number" class="validate" style="color: white;">
        </div>
        <div class="col s3">
            <button class="waves-effect waves-light btn">SCAN</button>
        </div>
    </div>
</form>

<% include partials/footer %>