<% include partials/header %>

<div class="row" style="padding: 20px">
		<div class="col s12" style="margin-top : 200px; font-size: 70px; text-align: center; color : rgba(22, 119, 22, 0.8); font-weight : bolder; padding : 10px 20px">
			You have sucessfully casted your vote!
		</div>
</div>

<% include partials/footer %>